<div id='content_show'>
  <h1><%= @movie.title %> (<%= @movie.release_year %>)</h1>
  <%= image_tag @movie.poster_url, :alt => 'poster' %>
  <p><%= @movie.summary %></p>
  <p><%= link_to "Back", root_path %></p>
</div>

